    <%- include ('./layouts/navbar.html'); -%> 
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img id="zelda" class="animate__animated animate__fadeInDown" src="/img/zelda.png" alt="">
            </div> 
        </header>
    </div>

    <!--Footer-->
    <div class="container-fluid" id="zel">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-md-6">
                <img height="128px" src="/img/zelda.svg" alt="">
            </div>
            <div class="col-md-6">
                <h1>Para Mi Amada Zelda</h1>
                <p>Iré contigo
                    Mi voz doblada dijo
                    cuando siete años pasados
                    sobre un puente, nos despedimos.
                    todo fue vapor, hadas, dolores, inocencia
                    
                    Quisiera ir yo contigo
                    Pero la historia de la vida
                    tiene puertas y acertijos
                    las diosas te dieron la espada
                    a mi me han hecho crucifijo
                    ofrenda del bosque, de huesos
                    soy el corazón del bosque.
                    Bosque y yo somos lo mismo....</p>
            </div>
        </div>
    </div>
    <%- include ('./layouts/footer.html'); -%> 
